.App {
  width: 70%;
  margin: auto;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(76, 29, 149, var(--tw-bg-opacity));
}
.navbar p {
  padding: 10px;
  font-weight: 100px;
  cursor: pointer;
}
.navbar ul {
  margin-left: 20%;
  display: flex;
}
.navbar ul li {
  list-style-type: none;
  margin: 10px 40px;
  padding: 10px;
}

.navbar ul li:hover {
  border-bottom: 2px solid black;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
}

/* Posts Section design */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  text-align: center;
  padding: 5px;
  color: red;
}

.single-item {
  margin: 10px 10px;
  padding: 20px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
}
.post-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-title,
.post-user {
  margin: 3px 4px;
}

.post-title {
  font-weight: bold;
  font-size: 20px;
}

.post-description {
  margin: 5px;
  padding: 3px;
  line-height: 35px;
}

/* Create Post form */
.form-container {
  justify-content: center;
  max-width: 700px;
  margin: 20px auto;
  border-radius: 20px;
  min-height: 700px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
}

.form-container p {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.form-group {
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

.form-group label {
  padding: 10px;
}

.form-group input {
  border-radius: 12px;
  font-size: 25px;
}
.form-group textarea {
  border-radius: 12px;
  font-size: 25px;
}

.btn {
  width: 57%;
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 25px;
  border-radius: 20px;
}
.form-container .message {
  text-align: center;
  padding: 10px;
  color: green;
}

.recentPost p {
  text-align: center;
  font-size: 40px;
  color: gray;
}
